
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}



.container {
    
    width: 8.5in;
    height: 11in;
    margin: 0px auto 0px auto;
    
}

.main-body {
    width: 73%;
    float: right;
    padding: 8px 10px 10px 10px;
    text-align: justify;
}

.side-bar {
    width: 27%;
    float: left;
    padding: 0 0 5px 6px;
    background-color: #f4f1f1
}

.info {
    background-color: 
}

p {
    font-family: "Georgia";
    font-size: 10.5pt;
}

h1 {
    font-size: 35px;
}

.position {
    float: left
}

.company {
    float: left
}
